<!DOCTYPE html>
<html>

<head>
    <title>Material Design for Bootstrap</title>

    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design for Bootstrap -->
    <link href="/public/bootstrap-material-design-master/dist/css/material-wfont.min.css" rel="stylesheet">
    <link href="/public/bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">

    <!-- Dropdown.js -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css" rel="stylesheet">

    <!-- Page style -->
    <style>
        * {
            box-sizing: border-box;
        }
        .header-panel {
            background-color: #009587;
            height: 1000px;
            position: relative;
            z-index: 3;
        }
        .header-panel div {
            position: relative;
            height: 100%;
        }
        .header-panel h1 {
            color: #FFF;
            font-size: 20px;
            font-weight: 400;
            position: absolute;
            bottom: 10px;
            padding-left: 35px;
        }

        .menu {
            overflow: auto;
            padding: 0;
        }
        .menu, .menu * {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        .menu ul {
            padding: 0;
            margin: 7px 0;
        }
        .menu ul li {
            list-style: none;
            padding: 20px 0 20px 50px;
            font-size: 15px;
            font-weight: normal;
            cursor: pointer;
        }
        .menu ul li.active {
            background-color: #dedede;
            position: relative;
        }
        .menu ul li a {
            color: rgb(51, 51, 51);
            text-decoration: none;
        }

        .pages {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 4;
            padding: 0;
            overflow: auto;
        }
        .pages > div {
            padding: 0 5px;
            padding-top: 64px;
        }

        .pages .header {
            color: rgb(82, 101, 162);
            font-size: 24px;
            font-weight: normal;
            margin-top: 5px;
            margin-bottom: 60px;
            letter-spacing: 1.20000004768372px;
        }

        .page {
            transform: translateY(1080px);
            transition: transform 0 linear;
            display: none;
            opacity: 0;
            font-size: 16px;
        }

        .page.active {
            transform: translateY(0px);
            transition: all 0.6s ease-out;
            display: block;
            opacity: 1;
        }

        #opensource {
            color: rgba(0, 0, 0, 0.62);
            position: fixed;
            margin-top: 50px;
            margin-left: 50px;
            z-index: 100;
        }

        #source-modal h4 {
            color: black;
        }

        /* FIXME: why do I need these overrides? */
        .navbar input::-webkit-input-placeholder {
            color: rgba(255,255,255,.84) !important
        }
        .navbar input::-moz-placeholder {
            color: rgba(255,255,255,.84) !important
        }
        .navbar input:-ms-input-placeholder {
            color: rgba(255,255,255,.84) !important
        }
        @font-face {
            font-family: logoFont;
            src: url(/public/fonts/MotionPicture_PersonalUseOnly.ttf);
        }
        div .logo {
            font-family: logoFont;
            color: #ffffff;
            font-size: 200px;
        }

    </style>


    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>


</head>
<body>


<div class="header-panel shadow-z-3 ">

</div>
<div class="container-fluid main ">


    <div class="pages col-xs-10 animated fadeInUp">
        <div class="col-xs-10">

                <h1 class="logo text-center">Drive It</h1>
            <div class="col-md-offset-5 ">
                <a href="/signin" class="btn btn-info btn-raised ">Dropbox login</a>
            </div>




        </div>
    </div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- Material Design for Bootstrap -->
<script src="/public/bootstrap-material-design-master/dist/js/material.min.js"></script>
<script src="/public/bootstrap-material-design-master/dist/js/ripples.min.js"></script>
<script>
    $.material.init();
</script>


<!-- Sliders -->
<script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>
<script>
    $(function() {
        $.material.init();
        $(".shor").noUiSlider({
            start: 40,
            connect: "lower",
            range: {
                min: 0,
                max: 100
            }
        });

        $(".svert").noUiSlider({
            orientation: "vertical",
            start: 40,
            connect: "lower",
            range: {
                min: 0,
                max: 100
            }
        });
    });
</script>

<!-- Dropdown.js -->
<script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
<script>
    $("#dropdown-menu select").dropdown();
</script>

</html>