<!DOCTYPE html>
<html>

<head>
    <title>Drive It</title>

    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design for Bootstrap -->
    <link href="/public/bootstrap-material-design-master/dist/css/material-wfont.min.css" rel="stylesheet">
    <link href="/public/bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">

    <!-- Dropdown.js -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css" rel="stylesheet">

    <link href="/public/css/index.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="container-fluid main ">
    <div class="pages col-xs-10 animated fadeInUp">
        <div class="col-xs-10">
            <h1 class="logo text-center">Drive It</h1>
            <div class="col-md-offset-5 ">
                <a href="/signin" class="btn btn-info btn-raised ">Dropbox login</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- Material Design for Bootstrap -->
<script src="/public/bootstrap-material-design-master/dist/js/material.min.js"></script>
<script src="/public/bootstrap-material-design-master/dist/js/ripples.min.js"></script>

<script>
        $.material.init();
</script>

</html>